<section class="container bg-light p-3 shadow-sm">
    <div class="row mb-2">
      <div class="col-12">
        <fieldset class="form-group">
          <label class="mb-1">Título da vaga</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Filtrar vaga pelo título...">
            <div class="input-group-append">
              <button class="btn btn-success" type="button">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="toggleAdvancedFilterVisibility()" style="font-size: 12px; background: none; border: none;">
            {{ advancedFilterIsExpanded ? 'Ocultar filtro avançado' : 'Exibir filtro avançado' }}
        </button>
      </div>
    </div>
</section>
<section *ngIf="advancedFilterIsExpanded" class="container bg-body-secondary p-3 shadow-sm">
    <div class="row mb-2">
        <div class="col-12">
            <label class="mb-1">Descrição da vaga</label>
            <textarea 
                class="form-control" style="height: 70px; resize: none;" 
                placeholder="Filtrar vaga pela descrição..."></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label class="mb-1">Nome da empresa</label>
            <input
                type="text"
                class="form-control"
                placeholder="Filtrar vaga pelo nome da empresa..."/>
        </div>
        <div class="col-3">
            <label class="mb-1">Salário</label>
            <input
                type="text"
                class="form-control"
                placeholder="Filtrar vaga pelo salário..."/>
        </div>
        <div class="col-3">
            <label class="mb-1">Modalidade da vaga</label>
            <select class="form-select">
                <option selected>Filtrar vaga pela modalidade...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>              
            </select>
        </div>
        <div class="col-3">
            <label class="mb-1">Tags associadas</label>
            <select class="form-select">
                <option selected>Filtrar vaga por tag...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>              
            </select>
        </div>
    </div>
</section>