<header class="navbar navbar-expand navbar-dark bg-success p-3">
    <a class="navbar-brand" href="/">JobFilter</a>
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" href="/">Oportunidades</a>
        </li>
        <li>
            <a class="nav-link" href="/companies">Empresas</a>
        </li>
    </ul>
</header>

<main class="bg-secondary-subtle d-flex flex-column p-3" style="min-height: 100vh; gap: 10px;">
    <ng-content></ng-content>
</main>

<footer class="d-flex align-items-center justify-content-center text-white bg-success p-3" style="height: 80px">
    <p>Desenvolvidor por <a class="text-white" style="text-decoration: none;" href="https://github.com/JVitoroliv3ira">João Vitor</a></p>
</footer>